<!doctype html>
<html>

<head>

    <title>Daily Expense Tracker</title>
 <link rel="stylesheet" type="text/css" href="../Static/Planner.css">
</head>

<body>
<div class = 'time'>
    <p style="float: left; width: 40px;" id = 'date'></p>
    <p style="float: left; width: 65px;" id = 'month'></p>
    <p style="float: left; width: 40px;" id = 'year'></p>
</div>
<script>
    var date = new Date();
    document.getElementById("date").innerHTML = date.getDate() + '/';
    var month = new Date();
    document.getElementById("month").innerHTML = month.getMonth() + 1 + '/';
    var year = new Date();
    document.getElementById("year").innerHTML = year.getFullYear();

</script>

</body>

</html>