<!doctype html>
<html>

<head>

    <title>Daily Expense Tracker</title>
 <link rel="stylesheet" type="text/css" href="../Static/Planner.css">
</head>

<body>
<div class = 'time'>
    <span id = 'date'></span>
    <span id = 'month'></span>
    <span id = 'year'></span>
</div>
<script>
    var date = new Date();
    document.getElementById("date").innerHTML = date.getDate() + '/';
    var month = new Date();
    document.getElementById("month").innerHTML = month.getMonth() + 1 + '/';
    var year = new Date();
    document.getElementById("year").innerHTML = year.getFullYear();

</script>

</body>

</html>