<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Static/summary.css">
    <title>userName Summary</title>
</head>
<body>
    <script></script>
    <h1 class = "mainHeader"> (User's Name)'s Summary</h1>
    <div class = "output">
        <h3 class = "mainHeader"> Your Family's Overview</h3><span class = "period">Daily</span> <span class = "period">Montly</span> <span class = "period">Yearly</span>
        <p class= "heading">Overall Spending</p>
            <ul class = "Category">Food
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Luxury
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Something
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Water
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Electricity
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
    </div>

</body>
</html>