<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Static/summary.css">
    <title>userName Summary</title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <nav class="navbar navbar-inverse">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
      </nav>
    </div>
    <span style="font-size:50px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


    <h1 class = "mainHeader"> (User's Name)'s Summary</h1>
    <div class = "output">
        <h3 class = "mainHeader"> Your Family's Overview</h3><span class = "period">Daily</span> <span class = "period">Montly</span> <span class = "period">Yearly</span>
        <p class= "heading">Overall Spending</p>
            <ul class = "Category">Food
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Luxury
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Something
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Water
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
            <ul class = "Category">Electricity
                <li>Spent:</li>
                <li>Your Average:</li>
                <li>Everyone's Average:</li>
            </ul>
    </div>

</body>
</html>