body {
  margin: 2em;
}
h5 {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}
















@media (min-width: 1000px) {
.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 100%;}

}



@media (min-width: 1000px) {
.container {
     max-width: 100%; }
}

*, ::after, ::before {
    box-sizing: unset;
}

*, ::after, ::before {
    box-sizing: unset;

}

div.output {
        margin-left: 200px;
        margin-right: 200px;
}


div.col-md-8 {
    width:100%;
}

*{
    margin: 0;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    /display: block;
    -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     margin-right: 100px;
     margin-left: 0;
    margin-top:50px;
    margin-bottom:100px;
}
