span#date {
        font-size: 200%;
}

span#month {
        font-size: 200%;
}

span#year {
        font-size: 200%;
}

div.time {
    text-align: center;
    width:100%;
    margin:auto;
    font-size: 300%;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


div#parent {
    width: 200px;
    height: 0px;
}

textarea {
     width: 100px;
}




.inputbox{
    background-color: #FCEDED;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
}
div#boop.bill {
    text-align: center;
    background-color: #FCEDED;
    border-width: 3px;
    border-style: solid;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    margin-bottom: 20px;
    width:900px;
}
div#boo.bill {
    text-align: center;
    background-color: #FCEDED;
    border-width: 3px;
    border-style: solid;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
     margin-bottom: 20px;
    width:900px;
}
div#bo.bill {
    text-align: center;
    background-color: #FCEDED;
    border-width: 3px;
    border-style: solid;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    margin-bottom: 20px;
    width:900px;
}
div#newitem.bill {
    text-align: center;
    background-color: #FCEDED;
    border-width: 3px;
    border-style: solid;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    width:900px;
    margin-left: 255px;
    margin-bottom: 20px;
}
.bill {
    padding-bottom: 10px;
}

body {
    background-color: lightblue;
}

h2#first {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

p{
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

div.col-md-8 {
    margin-left: 180px;
}

input {
    margin-top: 10px;
    margin-bottom: 5px;
}