{% extends "layout.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="../static/schemecheck.css">
    <meta charset="UTF-8">
    <title>Scheme Check</title>


<h1>Scheme Checker</h1>
<h2>Enter your monthly income to find out what financial schemes you are applicable for.</h2>

<form method="post" action = '/schemecheck'>
    <p>Please Enter your Monthly Income <input type = 'number' name = 'income'></p>
    <input type="submit" class = 'submit'>
</form>


<div>

</div>



{% endblock content %}