{% extends "layout.html" %}
{% block content %}
    <title>What Items</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">

    <div class = "catalogue">
        <form method="post">
            <h1>Add Product</h1>
            <div class="label">Item ID</div>
            <textarea class="inputbox" rows="1" name = 'itemid'></textarea>
            <div class="label">Name</div>
            <textarea class="inputbox" rows="1" name = 'name'></textarea>
            <div class="label">Picture URL</div>
            <textarea class="inputbox" rows="1" name = 'picture'></textarea>
            <div class="label">Price</div>
            <textarea class="inputbox" rows="1" name = 'price'></textarea>
            <div class="label">Item</div>
            <textarea class="inputbox" rows="1" name = 'type'></textarea>
            <div><input type="submit" class = 'submit'></div>
        </form>

    </div>
{% endblock content %}










<form method="post">
    <label>Item ID</label>
    <textarea class="inputbox" rows="1" name = 'itemid'></textarea>
    <label>Name</label>
    <textarea class="inputbox" rows="1" name = 'name'></textarea>
    <label>Picture URL</label>
    <textarea class="inputbox" rows="1" name = 'picture'></textarea>
    <label>Price</label>
    <textarea class="inputbox" rows="1" name = 'price'></textarea>
    <label>Item</label>
    <textarea class="inputbox" rows="1" name = 'type'></textarea>
    <input type="submit" class = 'submit'>
</form>