<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <form method="post">
        <label>Item ID</label>
        <textarea class="inputbox" rows="1" name = 'itemid'></textarea>
        <label>Name</label>
        <textarea class="inputbox" rows="1" name = 'name'></textarea>
        <label>Picture URL</label>
        <textarea class="inputbox" rows="1" name = 'picture'></textarea>
        <label>Price</label>
        <textarea class="inputbox" rows="1" name = 'price'></textarea>
        <input type="submit" class = 'submit'>
    </form>

    <!--<form method="post">
        <label>Delete ID:</label>
        <textarea class="inputbox" rows="1" name = 'delid'></textarea>
        <input type="submit" class = "submit">
    </form>-->
</body>
</html>