<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <form method="post">
        <label for="itemid">Item ID</label>
        <input name="itemid" id="itemid" value="{{ request.form['itemid'] }}" required>
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] }}" required>
        <label for="picture">Picture URL</label>
        <input name="picture" id="picture" value="{{ request.form['picture'] }}" required>
        <label for="price">Price</label>
        <input name="price" id="price" value="{{ request.form['price'] }}" required>
        <input type="submit" value="Save">
    </form>

</body>
</html>