<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/bills.css">
    <meta charset="UTF-8">
    <title>Bills</title>
</head>
<body>
<h1 id = 'billheader'>Current bills</h1>

{% for i in info %}
    <div class="bill">
        <h2 id = 'first'>Bill {{ i['id'] }}</h2>
        <span>Amount: </span>{{ i['amount'] }} <span>Due date: </span>{{ i['due'] }} <input type="checkbox">
    </div>
{% endfor %}

<div id = "finalamount">
    <h3>Total for this month</h3>
    {% for i in info %}
    <span>$</span>
    {% endfor %}
</div>



</body>
</html>