{% extends "layout.html" %}

{% block content %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bills.css') }}">
    <meta charset="UTF-8">
    <title>Bills</title>
</head>

<h1 id = 'billheader'>Current bills</h1>
<div>


<input type="button" onClick="addItem()" value= "add new">

<div id="template">
    <h2><input class="inputbox" rows="1"  onchange="uniqueName(this, 'billname', 'textarea')" ></h2>
    <span>Bill Amount: </span><input type="number" class = "inputbox" rows = "1" name = 'noamount' onchange=uniqueName(this,'billamount','textarea')>
    <span>Due date: </span><input class="inputbox" rows="1" name = 'nodue' onchange="uniqueName(this, 'billdue', 'textarea')">
    <select name = 'noncat' onchange="uniqueName(this, 'billcategory', 'textarea')">
        <option value="Nil" disabled selected>Please choose a category</option>
        <option value="Water">Water</option>
        <option value="Electricity">Electricity</option>
        <option value="Others">Others</option>
    </select>
    <input type="checkbox">
</div>

<script>
    function addItem() {
        var div = document.createElement('div');
        div.id='';
        div.classList.add("bill");
        div.innerHTML = document.getElementById('template').innerHTML;

        document.getElementById("area").appendChild(div);
        counter = parseInt(document.getElementById("counter").value);
        counter = counter + 1;
        document.getElementById("counter").value = counter;

    }

function uniqueName(element, name, type){
    var value = '{{ count }}';
    if(type==="textarea" || type==="select"){
      element.name = "noname";
      var inputs = document.getElementsByTagName(type);
    } else {
      var inputs = document.querySelectorAll("input")
    }

    for (x = 0 ; x < inputs.length ; x++){
      itemname = inputs[x].getAttribute("name");

      if(itemname == null){
        itemname = inputs[x].name;
      }

      if(itemname.indexOf(name) === 0){
        value ++;
      }
    }

    var newname = name + value;
    element.name = newname;
  }


</script>

<form method="post" action = '/bills' id = 'area'>
    <input type="hidden" value = '{{ count }}' id = 'counter' name = 'counter'>

    {% for i in range(count) %}
    {% set z = i|string %}
    {% set i = i + 1 %}
    {% set i = i|string %}
    {% set x = bill[z] %}

    <div class="bill">
        <h2><input class="inputbox" rows="1" name = 'billname{{ z }}' value = '{{ x.name }}'></h2>
        <span>Amount: </span><input type="number" class="inputbox" rows="1" name = 'billamount{{ z }}' value = '{{ x.amount }}' >
        <span>Due date</span><input class="inputbox" rows="1" name = 'billdue{{ z }}' value = '{{ x.due }}'>
        <select name="billcategory{{ z }}" >
            <option value="Nil" disabled selected>Please choose a category</option>
            <option value="Water">Water</option>
            <option value="Electricity">Electricity</option>
            <option value="Others">Others</option>
        </select>
        <input type="checkbox">
    </div>
    {% endfor %}


<input type="submit" class = 'submit' id = 'history'>
</form>



</div>


{% endblock content %}