{% extends "layout.html" %}
{% block content %}
    <title>What Items</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">

    <div class = "blocks">
        <img src = "{{ selprod['picture'] }}" width="150" height="150">
        <p>{{ selprod['name'] }}</p>
        <p>{{ selprod['price1'] }}</p>
        <form method = "post">
            <input type="submit" class = 'submit'>
        </form>
    </div>

    <div class="blocks">
        <img src="{{ selprod['picture'] }}" width="150" height="150">
        <p>{{ selprod['name'] }}</p>
        <p>{{ selprod['price2'] }}</p>
        <form method="post">
            <p>Amount:</p><input type="number" name="quantity">
            <input type="submit" class = 'submit'>
        </form>
    </div>
{% endblock content %}...........


