{% extends "layout.html" %}
{% block content %}
    <title>What Items</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">

    <div class = "catalogue">
        <b>Pick an item to compare</b>
        <!--<input class = "search" type="text" size = "30" placeholder="Item e.g. toothpaste, shampoo..."> -->


        <div class = "catalogue">

                {{ productObj['itemid'] }}



        </div>

    </div>
{% endblock content %}