{% extends "layout.html" %}
{% block content %}
    <title>What Items</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">

    <div class = "catalogue">
        <h1 class="heading">Pick an item to compare</h1>
        <!--<input class = "search" type="text" size = "30" placeholder="Item e.g. toothpaste, shampoo..."> -->

            {% for productObj in productObjs %}
                <a href ="{{url_for('comparison', objectid = productObj['itemid'])}}"> <div class = "listing">
                    <img src="{{ productObj['picture']}}" width="150" height="150">

                    <span>
                        ID:{{ productObj['itemid'] }}
                        Name: {{ productObj['name']}}
                        {{ productObj['type']}}
                        FairPrice: ${{ productObj['price1']}}
                    </span>
                </div></a>
            {% endfor %}

    </div>
{% endblock content %}