{% extends "layout.html" %}

{% block content %}
<head>
  <title>simplestyle_banner - another page</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="../static/consult.css" />

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>





<div class="banner"></div>





    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>February 27th, 2019</h5>
              <p>New features: Ranking</p>
              <P>Take a look around and let us know what you think of the added
                feature.<br /><a href="/weekly">Bring me now!</a></p>

          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">






          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
        <!-- insert the page content here -->
    <main>
      <h1>Be more thoughtful about your life and goals.</h1>
       <p>It's easy to be passive and reactive. That's the default. The problem is that when you don't take an active role in your own life, you become a pawn for someone else and their life
      This doesn't mean you dont have all the answers, but it does mean that you have to spend time and thought about what you want to acomplish, be, and obtain.
      What is important to you? What do you want from your life? Think about all these questions and come up with answers- even if they change (and they will). Be the architect of your own life. Financial planning is about taking charge and managing your finances to help you achieve your life goals.
        </p>

        <p> Right here at Project 3, we will give you some tips and information to help you get started!</p>





        <h2>1. Create a Financial Calendar</h2>
          <p>If you are uncerntain to remember to pay your quarterly taxes or periodically pull a cr
              edit report, think about setting appointment reminders for these important money to-dos in the same way that you would
              an annual doctor's visit or car tune-up.</p>

        <h2>2.  Set a Budget, Period</h2>
            <p>This is the  <a href="/planner">Starting point</a> for every other goal in your life. </p>



        <h2>3. Allocate at Least 20% of Your Income Toward Financial Priorities</h2>

        By priorities, we mean building up emergency savings, paying off debt, and padding your retirement nest egg.

        <h2>4. Don't do it yourself.</h2>
           <p> It is very difficult to be objective about your own circumstances, particularly when it comes to failures or shortcomings. You need an honest assessment of your financial
               situation, and the only way to get that is to have it done by an objective third party, Such as a financial planner </p>
</main>
        </div>
{% endblock content %}
