
{% extends "layout.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- https://docs.google.com/spreadsheets/d/1tSpx-PVDdjRsPWoNoQa7PwWZZ93G8gGkELVwfTALH-E/edit#gid=0 -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feedback.css') }}">


  <h2 class="content-head is-center">Contact Us!</h2>


<!-- START HERE -->
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <!-- Style The Contact Form How Ever You Prefer -->

  <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
  action="https://script.google.com/macros/s/AKfycbwMxYDrufp73bKdU8gMvxFDdHRuzcR4IKQUB33B7GqwyfyZS04/exec">
    <!-- change the form action to your script url -->


    <div class="form-elements">
      <fieldset class="pure-group">
        <label for="name">Name: </label>
        <input id="name" name="name" placeholder="Name" />
      </fieldset>

      <fieldset class="pure-group">
        <label for="message">Message: </label>
        <textarea id="message" name="message" rows="10"
        placeholder="Tell us what's on your mind..."></textarea>
      </fieldset>

      <fieldset class="pure-group">
        <label for="email"><em>Your</em> email address:</label>
        <input id="email" name="email" type="email" value=""
        required placeholder="email"/>
        <span class="email-invalid" style="display:none">
          Must be a valid email address</span>
      </fieldset>

      <button class="button-success pure-button button-xlarge">
        <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
    </div>

    <!-- Customise the Thankyou Message People See when they submit the form: -->
    <div class="thankyou_message" style="display:none;">
      <h2><em>Thanks</em> for contacting us!
        We have received your message!</h2>
    </div>

  </form>



  <script data-cfasync="false" src="/static/bootstrap/form-submission-handler.js"></script>

        </div>

{% endblock content %}


