<!-- Useless for now, using email




<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
		<link rel="stylesheet" type="text/css" href="../static/feedback.css">

</head>

        <div class="mail">

                    <div class='msg'>
                        Enter your email address that you used to register. <br> We'll send you an email with a link to reset your password.
                    </div>
                    <div class="input-group">
                        </span>
                        <div class="form-line">
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" id="submit" onclick="check()" type="submit">Reset my password</button>

                    </div>
                </form>
            </div>
        </div>
    </div>




</body>

</html>