{% extends "layout.html" %}
{% block content %}
    <title>What Items</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='comparison.css') }}" rel="stylesheet">

    <div class = "blocks">
        <table>
            <tr>
                <th>Product Name</th><th>FairPrice Price</th><th>Giant Price</th>
            </tr>
            {% for object in listobj  %}
            <tr>
                <td class="objName">{{object['name']}}</td><td class="price">{{object['price1']}}</td><td class = "price">{{ object['price2']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th class="objName">Total Sum</th><th class="price">{{ total1 }}</th><th class="price">{{ total2 }}</th>
            </tr>
        </table>
    </div>
{% endblock content %}...........
