{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='planner.css') }}">


<div class = 'time'>
    <span id = 'date' style="font-family:courier;"></span>
    <span id = 'month' style="font-family:courier;"></span>
    <span id = 'year' style="font-family:courier;"></span>
</div>




  <div id="getText" style="display: none;">
    <h2>Item</h2>
          <span><font size="4">Item Name: </font></span><textarea class="inputbox" rows="1" name = 'noname' onchange="uniqueName(this, 'itemname', 'textarea')"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span><font size="4">Item Price:</font></span><input type="number" class="inputbox" name = 'noprice' onchange="uniqueName(this, 'itemprice', 'input')" rows="1">&nbsp;<span><font size="4"> Item Category: </font></span>
          <select name = 'nocategory' onchange="uniqueName(this, 'itemcategory', 'select')">
            <option value="Food">Food</option>
            <option value="Groceries">Groceries</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Luxury">Luxury</option>
            <option value="Others">Others</option>
          </select>
  </div>


<script>
  function addItem() {
    var div = document.createElement('div');
    div.id='boo';
    div.classList.add("bill");
    div.innerHTML = document.getElementById('getText').innerHTML;

    document.getElementById("inputform").appendChild(div);
    counter = parseInt(document.getElementById("count").textContent);
    counter = counter + 1;
    document.getElementById("count").innerHTML = counter;
    document.getElementById("count_trans").value = counter;
  }

  function uniqueName(element, name, type){
    var value = 1;
    if(type==="textarea" || type==="select"){
      element.name = "noname";
      var inputs = document.getElementsByTagName(type);
    } else {
      var inputs = document.querySelectorAll("input")
    }

    for (x = 0 ; x < inputs.length ; x++){
      itemname = inputs[x].getAttribute("name");

      if(itemname == null){
        itemname = inputs[x].name;
      }

      if(itemname.indexOf(name) === 0){
        value ++;
      }
    }

    var newname = name + value;
    element.name = newname;
  }



function confirmation() {
    if (!confirm("Confirm submit?")) {
        return false;
    }
}


</script>







<form method="post" action = '/planner' id="inputform">

    <input type="submit" onclick="return confirmation();"/>


    <div class="sticky">
    <p><input type="button" onClick="addItem()" id="buttonadd" value="Add New Item" ></p>
           <p> Number Of Items Bought Today:  <input type="hidden" value="3" name="totalitems" id="count_trans"><a id = "count">3</a></p>
    </div>

    <span><font size = "4">Current Budget: $</font></span><textarea id = "boodget" class="inputbox" rows="1" name="budget">{{ current_user.budget }}</textarea>

<div id = 'boop' class="bill">
    <h2 id = 'first'>Item </h2>
    <span><font size="4">Item Name: </font></span><textarea class="inputbox" rows="1" name = 'itemname1'></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span><font size="4">Item Price:</font></span><input type="number" name = 'itemprice1' class="inputbox" rows="1">&nbsp;&nbsp;&nbsp;&nbsp; <span><font size="4"> Item Category: </font></span>
    <select name = 'itemcategory1'>
  <option value="Food">Food</option>
  <option value="Groceries">Groceries</option>
  <option value="Entertainment">Entertainment</option>
  <option value="Luxury">Luxury</option>
    <option value="Others">Others</option>
</select>

</div>

  <div id = 'boo' class="bill">
    <h2>Item</h2>
      <span><font size="4">Item Name: </font></span><textarea class="inputbox" rows="1" name = 'itemname2'></textarea> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4">Item Price:</font></span><input type="number" name = 'itemprice2' class="inputbox" rows="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span><font size="4"> Item Category: </font></span>
      <select name = 'itemcategory2'>
  <option value="Food">Food</option>
  <option value="Groceries">Groceries</option>
  <option value="Entertainment">Entertainment</option>
  <option value="Luxury">Luxury</option>
    <option value="Others">Others</option>
</select>

  </div>

<div id = 'bo' class="bill">
    <h2>Item</h2>
    <span><font size="4">Item Name: </font></span><textarea class="inputbox" rows="1" name = 'itemname3'></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span><font size="4">Item Price:</font></span><input type="number" class="inputbox" name = 'itemprice3' rows="1">&nbsp;&nbsp;&nbsp;&nbsp; <span><font size="4"> Item Category: </font></span>
    <select name = 'itemcategory3'>
  <option value="Food">Food</option>
  <option value="Groceries">Groceries</option>
  <option value="Entertainment">Entertainment</option>
  <option value="Luxury">Luxury</option>
    <option value="Others">Others</option>
</select>

</div>
</form>





{% endblock content %}