<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="../static/signup.css"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <body>

<a href="/ranking" class="button">Back</a>


	<meta charset="utf-8">
	<title>Sign-up</title>



	<main id="form">

		<form id="signup-form" method="post">
			<h1>Sign up</h1>
			<label for="username" >Username</label>
			<input name="username"  id="username" placeholder="Enter a username" required>

			<label for="password" >Password</label>

			<input type="password" name="password" id="password" placeholder="Enter a password" required>
			<br>

    <input type="submit" id="sign_up" value="Sign Up">

</form>


	</main>

	<section class="registered">
		<p>Already have an account? <a href="/login" class="login">Log in</a></p>
	</section>







</body>
</html>