{% extends "layout.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='summary.css') }}">


    <div class = "output">
    <h1 class = "mainHeader"> {{ familyid }}'s Summary</h1>
        <span class = "period">Daily</span>
        <span class = "period">Monthly</span>
        <span class = "period">Yearly</span>
        <p class= "heading">Overall Spending</p>
            <span class="tableHeader">Categories</span>
            <span class="tableHeader" id = "amount">Amount</span>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Food</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Luxury</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Groceries</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Water</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Electricity</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
    </div>


{% endblock content %}
