/* fallback */

body{
	background-size:100%;
	background-repeat: repeat-y;
	overflow-x: hidden;
	background-image: url(https://gyazo.com/862087cd6769e923ad5a8847fff65ccf.png);
		margin: 0;
	background-color: #6799ff;
	font-family: "roboto", sans-serif;
	height: 100%;
	width: 100%;

}

.mail {
font-weight:bold;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	height: 300px;
    width:70%;
	margin-top:150px;

}

.pic {
font-weight:bold;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	height: 300px;
    width:50%;

}

.logo {
	height: 55px;
	width: 15%
}
.msg {
	font-size: 150%;
	color: black;
	mix-blend-mode: difference;
}
#email {

		font-size: 150%;

}
#submit{
		font-size: 150%;
}

#email:focus
{
    background-color: yellow;
}

#submit:hover {
    background-color:rrgb(204, 235, 255);
	opacity:0.7;
	}

	#logoImage {
	text-align:center;
	background-color:white;
}