#span_ucount{
	visibility:hidden;
}


body{
	background-size:cover;
    background-repeat: repeat-y;
	overflow-x: hidden;
    background-image: url(https://gyazo.com/862087cd6769e923ad5a8847fff65ccf.png);
	}

body {
	margin: 0;
	background-color: #6799ff;
	font-family: "roboto", sans-serif;
	height: 100%;
	width: 100%;
}
.logo {
	height: 55px;
	width: 15%
}
.form {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	width: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow:hidden;
	margin-top:50px;


}
h1 {
	text-align: center;
	font-weight: 100;
	font-size: 35px;
	color: #383838;
	margin-bottom: 40px;
}
.login-form label {
	display: block;
	margin-bottom: 10px;

}
.login-form input {
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 320px;
	height: 55px;
	border: 2px lightgrey solid;
	padding: 15px;
	font-size: 17px;
	border-radius: 3px;
}
.login-form button {
	display: block;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 320px;
	height: 55px;
	border: 2px lightgrey solid;
	padding: 15px;
	font-size: 20px;
	border-radius: 3px;
	background-color: #3Cb371;
	color: white;
	border: none;
}
label	{
	display: block;
	margin-bottom: 20px;

}
#forgot:hover {
	display: block;
	text-align: center;
	background-color: #4DF377;
	opacity:0.5;
}
.login:hover {
	background-color: #006400;
}
#forgot {
	display: block;
	text-align: center;
	color: grey;
}
.registered {
	display: block;
	text-align: center;
	color: white;
}
.login	{
	color: white;

}

#email {
	font-weight:bold;
}
#password {
	font-weight:bold;
}

#email:hover {
    background-color:rrgb(204, 235, 255);
	opacity:0.7;
	}
#email:focus
{
    background-color: yellow;
}
#password:focus
{
    background-color: yellow;
}
#password:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#sign_up:hover {
	background-color:rgb(102, 255, 102);
	opacity:0.9;
}

.Login:hover {
	background-color:rgb(102, 255, 102);
	opacity:0.9;
}
#logoImage {
	text-align:center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 30px 20px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}