*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
	height: 55px;
	width: 15%
}
body {
    background-image: url(https://i.imgur.com/U4SvSCY.png) ;

}
body {
background-repeat: repeat-y;
	overflow-x: hidden;
}
body {
	background-size: cover;
}
body {
	background-color:green;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  margin-top:50px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="refer"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

#location {
	font-weight: bold;
}

#name:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}

#birthday:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}

#birthday {
	font-weight:bold;
}

#location:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#bio:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#role:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#refer:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#verify {
	font-weight:bold;
	width:100%;
	height:6%;
}
#code:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#sign_up:hover {
	background-color:rgb(102, 255, 102);
	opacity:0.9;
}

#username:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#age:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#location:hover {
	background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#age {
	font-weight:bold;
}

#map-help:hover{background-color:rrgb(204, 235, 255);
	opacity:0.7;
}
#map-help2:hover{
background-color:rrgb(204, 235, 255);
	opacity:0.7;
}

#logoImage {
	text-align:center;
}



/* Include this to make it visible when input is clicked */
input:focus::-webkit-datetime-edit{ color: #000; }