html {
    font-size: 14pt;
}

body {
    background-color: grey;
}

.mainHeader {
    text-align: center;
}

.output {
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    background-color: #f2f2f2;
}

.Category {
    list-style-type: none;
    border-style: double;
}

.period {
    border-style: solid;

}

.Category li {
    border-bottom: solid;
}
