<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/bills.css">
    <meta charset="UTF-8">
    <title>Bills</title>
</head>
<body>


 <!-----Nav bar----->




<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
  <a href="#">Test</a>
  <a href="#">Test</a>
  <a href="#">Test</a>
  <a href="#">Test</a>

</div>


<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>

  <script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  document.body.style.backgroundColor = "white";
}

</script>


<h1 id = 'billheader'>Current bills</h1>

<div class="bill">
    <h2 id = 'first'>Bill 1</h2>
    <span>Amount: </span><textarea class="inputbox" rows="1"></textarea> <span>Due date</span><textarea class="inputbox" rows="1"></textarea> <input type="checkbox">
</div>
<div class="bill">
    <h2>Bill 2</h2>
    <span>Amount: </span><textarea class="inputbox" rows="1"></textarea> <span>Due date</span><textarea class="inputbox" rows="1"></textarea> <input type="checkbox">
</div>
<div class="bill">
    <h2>Bill 3</h2>
    <span>Amount: </span><textarea class="inputbox" rows="1"></textarea> <span>Due date</span><textarea class="inputbox" rows="1"></textarea> <input type="checkbox">
</div>
<div id = "finalamount">
    <h3>Total for this month</h3>
    <span>$150</span>
</div>


<button id = 'history'><a href="https://images-ext-2.discordapp.net/external/QJxtA5Gz4GWociifev3mCfu23SlKMZSkMXIQMp6g5Z8/https/pbs.twimg.com/media/DthiRD-VsAI5UHJ.jpg%3Alarge?width=470&height=664">View your bill history</a></button>

</body>
</html>