<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Items</title>
        <!-- bootstrap core CSS -->
    <link href="../bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/comparison.css" rel="stylesheet">
</head>
<body>

      <!-----Nav bar----->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
      <a href="#">Test</a>
      <a href="#">Test</a>
      <a href="#">Test</a>
      <a href="#">Test</a>

    </div>
    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    </div>

      <script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.body.style.backgroundColor = "grey";
    }

    </script>
    <div class = "catalogue">
        <b>Pick an item you want to compare</b>
        <input class = "search" type="text" size = "30" placeholder="Item e.g. toothpaste, shampoo...">
        <table>
            <tr>
                <td><img class = "thumbnail" src = "../static/images/darlieToothpaste.JPG">
                    <p>Darlie Toothpaste</p><br></td>
                <td><img class = "thumbnail" src = "../static/images/attackLiqDet.jpg">
                    <p>Attack Liquid Detergent</p><br></td>
                <td><img class = "thumbnail" src = "../static/images/darlieToothpaste.JPG">
                    <p>something else</p><br></td>
            </tr>
            <tr>
                <td></td> <td></td> <td></td>
            </tr>
            <tr>
                <td></td> <td></td> <td></td>
            </tr>
        </table>
    </div>
</body>
</html>