<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Items</title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
          <nav class="navbar navbar-inverse">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
          </nav>
        </div>
        <span style="font-size:50px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function changePeriod() {

        }
    </script>


    <div>



    </div>
</body>
</html>