<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
		<link rel="stylesheet" type="text/css" href="../Static/forgot_password.css">

</head>

<body>
<div id = "logoImage" align = center">
		</div>


        <div class="mail">
                <form id="forgot_password" method="POST"/>
                    <div class='msg'>
                        Enter your email address that you used to register. <br> We'll send you an email with a link to reset your password.
                    </div>
                    <div class="input-group">
                        </span>
                        <div class="form-line">
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" id="submit" onclick="check()" type="submit">Reset my password</button>

                    </div>
                </form>
            </div>
        </div>
    </div>


<script>



//while (i < 3) {
	//ucount = ucount + 1
    //document.write(emailid+'1');
	//i++;
//}

function check()
{
var input = document.getElementById("email").value;
var info = false
var count = parseInt(localStorage.getItem("users_count"));

		 if (count !=0)
		 {
			 for(var i=1; i<= count; i++)
			 { if (input != email) {
				var email=localStorage.getItem("users_list_"+i);
				}
			if (input == email) {
				confirm("Confirm Email?");
				alert("An email with instructions has been sent to you.");
			break
			}
			if (input != email) {
			continue}

			else {
			return;
				}


				}
				}

				}


</script>

</body>

</html>