<!doctype html>
<html>

<head>
    <title>Daily Expense Tracker</title>
 <link rel="stylesheet" type="text/css" href="../static/planner.css">
</head>

<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for("summary", familyid = "test") }}">Dashboard</a>
    <a href="{{ url_for("planner") }}">Daily Spendings</a>
    <a href="{{ url_for("bills") }}">Your Bills</a>
    <a href="{{ url_for("schemecheck") }}">Schemes</a>
    <a href="{{ url_for("cheaper") }}">Cheaper Alternatives</a>
    <a href="{{ url_for("ranking") }}">Rankings</a>
    <a href="#">Logout</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>

  <script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  document.body.style.backgroundColor = "white";
}

</script>

<div class = 'time'>
    <span id = 'date' style="font-family:courier;"></span>
    <span id = 'month' style="font-family:courier;"></span>
    <span id = 'year' style="font-family:courier;"></span>
</div>

<script>
    var date = new Date();
    document.getElementById("date").innerHTML = date.getDate() + '/';
    var month = new Date();
    document.getElementById("month").innerHTML = month.getMonth() + 1 + '/';
    var year = new Date();
    document.getElementById("year").innerHTML = year.getFullYear();
</script>
<form method="post" action = '/planner'>
<div id = 'boop' class="bill">
    <h2 id = 'first'>Item 1</h2>
    <span>Item Name: </span><textarea class="inputbox" rows="1"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Item Price:</span><textarea name = 'price' class="inputbox" rows="1"> </textarea> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="cars">
    <option value="volvo">Food</option>
    <option value="saab">Luxury</option>
    <option value="fiat">Appliances</option>
  </select>
</div>

  <div id = 'boo' class="bill">
    <h2>Item 2</h2>
       <span>Item Name: </span><textarea class="inputbox" rows="1"></textarea> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Item Price:</span><input type="number" name = 'price1' class="inputbox" rows="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="cars">
     <option value="volvo">Food</option>
    <option value="saab">Luxury</option>
    <option value="fiat">Appliances</option>
  </select>
</div>

<div id = 'bo' class="bill">
    <h2>Item 3</h2>
       <span>Item Name: </span><textarea class="inputbox" rows="1"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Item Price:</span><input type="number" class="inputbox" name = 'price2' rows="1">&nbsp;&nbsp;&nbsp;&nbsp;  <select name="cars">
    <option value="volvo">Food</option>
    <option value="saab">Luxury</option>
    <option value="fiat">Appliances</option>
  </select>
</div>
<input type="submit">
</form>
{{ total }}
</body>
</html>
