<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/schemecheck.css">
    <meta charset="UTF-8">
    <title>Scheme Check</title>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for("main") }}">Home</a>
    <a href="{{ url_for("planner") }}">Daily Spendings</a>
    <a href="{{ url_for("bills") }}">Your Bills</a>
    <a href="{{ url_for("summary", familyid = "test") }}">Your Summary</a>
    <a href="{{ url_for("schemecheck") }}">Schemes</a>
    <a href="{{ url_for("cheaper") }}">Cheaper Alternatives</a>
    <a href="{{ url_for("ranking") }}">Rankings</a>
    <a href="#">Logout</a>

</div>
<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>

  <script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  document.body.style.backgroundColor = "white";
}

</script>

<h1>Scheme Checker</h1>
<h2>Enter your monthly income to find out what financial schemes you are applicable for.</h2>

<form method="post" action = '/schemecheck'>
    <p>Please Enter your Monthly Income <input type = 'number' name = 'income'></p>
    <input type="submit" class = 'submit'>
</form>


<div>

</div>



</body>
</html>