<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/schemepage.css">
    <meta charset="UTF-8">
    <title>Scheme</title>
</head>
<body>
<h1>Financial Schemes</h1>
<ol>
    <li>Financial Scheme A</li>
    <li>Financial Scheme B</li>
</ol>
<div>
<h2>Financial Scheme A</h2>
    <ul>
        <li>Monthly allowance of $500</li>
        <li>additional medical bill subsidy (20%-40%)</li>
        <li>transportation discount</li>
    </ul>

    <h2>Financial Scheme B</h2>
    <ul>
        <li>Monthly allowance of $800</li>
        <li>additional medical bill subsidy (20%-40%)</li>
        <li>transportation discount</li>
    </ul>
</div>
</body>
</html>