<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "{{ url_for("static", filename="summary.css") }}">
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <nav class="navbar navbar-inverse">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
      </nav>
    </div>
    <span style="font-size:50px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function changePeriod() {

        }
    </script>


    <h1 class = "mainHeader"> (User's Name)'s Summary</h1>
    <div class = "output">
        <h3 class = "mainHeader"> Your Family's Overview</h3>
        <span class = "period">Daily</span>
        <span class = "period">Monthly</span>
        <span class = "period">Yearly</span>
        <p class= "heading">Overall Spending</p>
            <table class = "summaryTable">
                <tr>
                    <th>Categories</th><th>Amount</th>
                </tr>

                    <tr>
                        <td>Food</td><td></td>
                    </tr>
                    <tr>
                        <td>Spent:</td><td></td>
                    </tr>
                    <tr>
                        <td>Your Average: </td><td></td>
                    </tr>

                    <tr>
                        <td>Everyone's Average:</td><td></td>
                    </tr>
                &nbsp
                <tr>
                    <td>Luxury</td><td></td>
                </tr>
                <tr>
                    <td>Spent:</td><td></td>
                </tr>
                <tr>
                    <td>Your Average: </td><td></td>
                </tr>
                <tr>
                    <td>Everyone's Average:</td><td></td>
                </tr>
                &nbsp
                <tr>
                    <td>Groceries</td><td></td>
                </tr>
                <tr>
                    <td>Spent:</td><td></td>
                </tr>
                <tr>
                    <td>Your Average: </td><td></td>
                </tr>
                <tr>
                    <td>Everyone's Average:</td><td></td>
                </tr>
                &nbsp
                <tr>
                    <td>Water</td><td></td>
                </tr>
                <tr>
                    <td>Spent:</td><td></td>
                </tr>
                <tr>
                    <td>Your Average: </td><td></td>
                </tr>
                <tr>
                    <td>Everyone's Average:</td><td></td>
                </tr>
                &nbsp
                <tr>
                    <td>Electricity</td><td></td>
                </tr>
                <tr>
                    <td>Spent:</td><td></td>
                </tr>
                <tr>
                    <td>Your Average: </td><td></td>
                </tr>
                <tr>
                    <td>Everyone's Average:</td><td></td>
                </tr>
            </table>
    </div>


</body>
</html>