<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "{{ url_for("static", filename="summary.css")}}">
    <!---{{ url_for("static", filename="summary.css") this is the link for routing-->
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <nav class="navbar navbar-inverse">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
      </nav>
    </div>
    <span style="font-size:50px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function changePeriod() {

        }
    </script>


    <h1 class = "mainHeader"> {{ familyid }}'s Summary</h1>
    <div class = "output">
        <h3 class = "mainHeader"> Your Family's Overview</h3>
        <span class = "period">Daily</span>
        <span class = "period">Monthly</span>
        <span class = "period">Yearly</span>
        <p class= "heading">Overall Spending</p>
            <span class="tableHeader">Categories</span><span class="tableHeader" id = "amount">Amount</span>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Food</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td>123123123</td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td>123123123123</td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td>123</td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Luxury</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td>151231231235</td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td>123123123123123123123123123123</td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Groceries</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Water</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td>123</td>
                </tr>
            </table>
            <table class = "Category">
                <tr>
                    <td class = "categoryHeader" width = "50%">Electricity</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Spent:</td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Your Average: </td><td></td>
                </tr>
                <tr>
                    <td width = "50%">Everyone's Average:</td><td></td>
                </tr>
            </table>
    </div>


</body>
</html>